/* vim: set ft=dts textwidth=0 nowrap :
 *
 * Based on the original layout by Darryl deHaan
 * Copyright (c) 2021 Darryl deHaan
 * SPDX-License-Identifier: MIT
 *
 * Modified by Thomas E. Hansen (CodingCellist)
 * Copyright (c) 2023 Thomas E. Hansen (CodingCellist)
 * SPDX-License-Identifier: MIT
 *
 */

#include <behaviors.dtsi>
#include "da.dtsi"
// #include "i3wm.dtsi"
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// LAYERS //

#define DEFAULT   0
#define HALF_MAG  1
#define LNUMBER   2
#define LNAVMED   3
#define MAGIC     4


// ZMK STUFF //

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};


/ {
        // NEXT and PREV are defined as tap-dances, with one (1) tap meaning
        // "next layer" and two (2) taps meaning "previous layer". This is
        // similar to how some music players do single-button operation.
        // N.B.: care must be taken to make sure the NEXT and PREV mappings go
        // to the right layers and that they wrap around at the top and bottom
        // layers respectively. Additionaly, one must be careful to reference
        // the right tap-dances in their respective layers.
        behaviors {

            // tap-dance for Å and '+' (which is needed for '?')
            aa_plus: td_aa_plus {
                    compatible = "zmk,behavior-tap-dance";
                    label = "TD_AA_PLUS";
                    #binding-cells= <0>;
                    tapping-term-ms = <150>;
                    bindings = <&kp daAA>, <&kp daPLUS>;
            };

            // tap-dance for '|' and ' ́́'
            pipe_acute: td_pipe_acute {
                    compatible = "zmk,behavior-tap-dance";
                    label = "TD_PIPE_ACUTE";
                    #binding-cells= <0>;
                    tapping-term-ms = <150>;
                    bindings = <&kp daPIPE>, <&kp daACUTE>;
            };

            // tap-dance for "'" and ' ̈'
            apo_umla: td_apo_umla {
                    compatible = "zmk,behavior-tap-dance";
                    label = "TD_APO_UMLA";
                    #binding-cells= <0>;
                    tapping-term-ms = <150>;
                    bindings = <&kp daAPO>, <&kp daUMLA>;
            };

            // tap-dance for ALT_GR( "'" and ' ̈' )
            ralt_apo_umla: td_ralt_apo_umla {
                    compatible = "zmk,behavior-tap-dance";
                    label = "TD_RALT_APO_UMLA";
                    #binding-cells= <0>;
                    tapping-term-ms = <150>;
                    bindings = <&kp RA(daAPO)>, <&kp RA(daUMLA)>;
            };

            // tap-dance for mod-tap LSHIFT/ESC and LGUI (for i3 reasons)
            lsesc_super: td_lsesc_super {
                    compatible = "zmk,behavior-tap-dance";
                    label = "TD_LSESC_SUPER";
                    #binding-cells= <0>;
                    tapping-term-ms = <150>;
                    bindings = <&mt LSHFT ESC>, <&kp LGUI>;
            };

            // hold for L3, double-tap for switch _to_ L3
            l3_navmed: td_navmed {
                    compatible = "zmk,behavior-tap-dance";
                    label = "TD_LNAVMED";
                    #binding-cells= <0>;
                    tapping-term-ms = <150>;
                    bindings = <&mo LNAVMED>, <&to LNAVMED>;
            };

            // hold for L3, double-tap for switch _to_ L0/DEFAULT
            l3_esc_hatch: td_l3_default {
                    compatible = "zmk,behavior-tap-dance";
                    label = "TD_LNAVMED";
                    #binding-cells= <0>;
                    tapping-term-ms = <150>;
                    bindings = <&mo LNAVMED>, <&to DEFAULT>;
            };

            // i3wm: tap once for navigating left, twice to move the current
            //       container left
            i3_l_mov: td_i3_left_move {
                    compatible = "zmk,behavior-tap-dance";
                    label = "TD_I3_L_MOV";
                    #binding-cells= <0>;
                    tapping-term-ms = <150>;
                    bindings = <&kp LG(H)>, <&kp LS(LG(H))>;
            };

            // i3wm: tap once for navigating right, twice to move the current
            //       container right
            i3_r_mov: td_i3_right_move {
                    compatible = "zmk,behavior-tap-dance";
                    label = "TD_I3_R_MOV";
                    #binding-cells= <0>;
                    tapping-term-ms = <150>;
                    bindings = <&kp LG(S)>, <&kp LS(LG(S))>;
            };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QWERTY";
                        bindings = <
// -----------------------------------------------------------------------------------------
// 0
// | |/ ́́ |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  | Å/+ |
// | TAB |  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  |  Æ  |  Ø  |
// |  <  |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  |  -  | '/ ̈ |
//  ^ LT        | LTL3 | LSHFT | LCTRL |   | ENTER | SPACE | BKSP |
//              | LTL3 |   ESC | _____ |   | RALT  | xxxxx | LTL2 |
//              |      |  LGUI | _____ |   |       |       |      |
   &pipe_acute         &kp Q &kp W &kp E &kp R &kp T    &kp Y &kp U  &kp I     &kp O   &kp P       &aa_plus
   &kp TAB             &kp A &kp S &kp D &kp F &kp G    &kp H &kp J  &kp K     &kp L   &kp daAE    &kp daOE
   &lt HALF_MAG daLT   &kp Z &kp X &kp C &kp V &kp B    &kp N &kp M  &kp COMMA &kp DOT &kp daMINUS &apo_umla
                 &l3_navmed  &lsesc_super  &kp LCTRL    &mt RALT ENTER  &kp SPACE  &lt LNUMBER BSPC
                        >;
                };

                half_magic_layer {
                        label = "QWERTY";
                        bindings = <
// -----------------------------------------------------------------------------------------
// 1
// |     |     |     |     |     |     |   |     |     |     |     |     |     |
// |  BT |     |     |     |     |     |   |     |     |     |     |     |     |
// | (H) |     |     |     |     |     |   |     |     |     |     |     |     |
//              |      |       |       |   |       |       |      |
//              |      |       |       |   |       |       |      |
   &trans    &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans &trans
   &to MAGIC &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans &trans
   &trans    &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans &trans
                         &trans  &trans  &trans    &trans  &trans  &trans
                        >;
                };

                number_layer {
                        label = "NUMBER";
                        bindings = <
// -----------------------------------------------------------------------------------------
// 2
// |     | RA1 |  @  |  £  |  $  | RA5 |   | RA6 |  {  |  [  |  ]  |  }  |     |
// |     |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |     |
// |     |     |     |     |     |     |   |     |     |     |     |     |  /~ |
//              | ____ | LSHFT | LCTRL |   | ENTER | SPACE | BKSP |
//              | ____ |   ESC | _____ |   | RALT  | xxxxx | LSL3 |
   &trans &kp RA(N1) &kp RA(N2) &kp RA(N3) &kp RA(N4) &kp RA(N5)    &kp RA(N6) &kp RA(N7) &kp RA(N8) &kp RA(N9) &kp RA(N0) &trans
   &trans &kp N1     &kp N2     &kp N3     &kp N4     &kp N5        &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &trans
   &trans &trans     &trans     &trans     &trans     &trans        &trans     &trans     &trans     &trans     &trans     &ralt_apo_umla
                                          &trans  &trans  &trans    &trans  &trans  &trans
                        >;
                };
// TODO: put FN keys on here somehow?

                navmed_layer {
                        label = "NAVMED";
                        bindings = <
// -----------------------------------------------------------------------------------------
// 3
// |     |     |     |     |     | VO+ |   |  F6 |     |     |     | LCK |     |
// | i3A |     |     | TPR | TNX | VO- |   |     |iL/mL|     |     |iR/mR|     |
// |     | PGU | PGD |  ↓  |  ↑  | VOM |   |     | HOM | END |     |     |     |
//              | (HL) | LSHFT | LCTRL |   | ENTER | SPACE | DEL  |
//              | LTL1 |   ESC | _____ |   | RALT  | xxxxx | ____ |
   &trans    &trans    &trans    &trans        &trans        &kp C_VOL_UP    &kp F6 &trans     &trans   &trans &trans    &trans
   &kp LG(A) &trans    &trans    &kp LC(PG_UP) &kp LC(PG_DN) &kp C_VOL_DN    &trans &i3_l_mov  &trans   &trans &i3_r_mov &trans
   &trans    &kp PG_UP &kp PG_DN &kp DOWN      &kp UP        &kp C_MUTE      &trans &kp HOME   &kp END  &trans &trans    &trans
                                            &l3_esc_hatch  &trans  &trans    &trans  &trans  &trans
                        >;
                };

                magic_layer {
                        label = "MAGIC";
                        bindings = <
// -----------------------------------------------------------------------------------------
// 4 (MAGIC)
// |     | BT1 | BT2 | BT3 | BT4 | BT5 |   |     |     |     |     |     |     |
// |     |     |     |     | BTL |     |   |     | BTL |     |     |     |     |
// |     |     |     |     |     |BTCLR|   |     |     |     |     |     |     |
//              | LTL1 | _____ | _____ |   | _____ | _____ | ____ |
//              | ____ | _____ | _____ |   | _____ | _____ | ____ |
   &none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4    &none &none       &none  &none &none &none
   &none &none        &none        &none        &bootloader  &none           &none &bootloader &none  &none &none &none
   &none &none        &none        &none        &none        &bt BT_CLR      &none &none       &none  &none &none &none
                                               &to DEFAULT  &none  &none     &none  &none  &none
                        >;
                };

/**
 * // Separate shift layer? For selection?
 * // LSHFT
 * // -----------------------------------------------------------------------------------------
 * // |     |     |     |     |     |     |   |     |     |     |     |     |     |
 * // |     |     |     |     |     |     |   |     |     |     |     |     |     |
 * // |     |     |     |     |     |     |   |     |     |     |     |     |     |
 * //              | ____ | (HLD) | LCTRL |   | ENTER |  END  | BKSP |
 * //              | ____ |   ESC | _____ |   | _____ | _____ | RALT |
 * 
 * // GUI would also LS(GUI) and a layer with numbers?
 */

        };
};

